<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="ServerURL" value="__URL__"/>-->
    <add key="ServerURL" value="http://build-pcsw.sonova.com"/>
    <add key="UserName" value="__USER__"/>
    <add key="Password" value="__PWD__"/>
  </appSettings>
</configuration>